---
layout: default
title: Veranstaltungen
pagination:
  enabled: true
  category: veranstaltung
  permalink: "/veranstaltungen/:num/"
  indexpage: "/alle_veranstaltungen"
---

{% assign future = false %}
{% assign past = false %}

{% for post in paginator.posts %}

{% if post.date >= site.time and paginator.page == 1 %}
{% unless future %}
<h2 class=>Kommende Veranstaltungen</h2>
{% assign future = true %}
{% endunless %}
{% endif %}

{% if post.date < site.time and paginator.page == 1 %}
{% unless past %}
<h2 class="cf-past-events">Vergangene Veranstaltungen</h2>
{% assign past = true %}
{% endunless %}
{% endif %}
  <div class="cf-post">
  <div class="cf-post-date">
    <span class="cf-post-date">{{ post.date | date: "%d.%m.%Y" }}</span>
  </div>
  {% if post.location %}
  <i class="fa-solid fa-map-location-dot"></i><span> {{ post.location }}</span>
  {% endif %}
  <hr class="cf-hr">
  <a class="post-link" href="{{ post.url | relative_url }}">
    <h3 class="cf-post-title">{{ post.title }}</h3>
    <div class="cf-post-excerpt">
      {% if post.excerpt_separator %}
      {{ post.excerpt }}
      {% else %}
      {{ post.content | truncatewords: 30 }}
      {% endif %}
    </div>
  </a>
  </div>
{% endfor %}

{% include pagination.html %}

