---
layout: default
---
<h3>Herzlich Wilkommen auf der Internetseite des CF-Selbsthilfe Frankfurt e.V.</h3>

<div class="row">
    <div class="col-lg-8">
        <p>
            Der CF-Selbsthilfe Frankfurt e.V. setzt sich seit 1982 für die Belange der Mukoviszidose-Betroffenen ein.
        </p>

        <img src="{{ "assets/img/slider-gemstark-cf-selbsthilfe.png" | relative_url }}"
            class="img-fluid text-start text-inline-center" alt="Gemeinsam stark gegen Mukoviszidose">

        <p>
            Jedes Jahr erblicken rund 200 Kinder mit dem Krankheitsbild Mukoviszidose (cystische Fibrose) das Licht der
            Welt. Kaum einer weiß es und doch sind ganze fünf Prozent unserer Bevölkerung potentielle Merkmalsträger der
            Erbkrankheit Mukoviszidose. Trotz der Annahme der vollkommenen Gesundheit können auch Sie Mukoviszidose in
            kommende Generationen weiter vererben.
        </p>
        <div class="row">
            <div class="col-md">
                <img src="{{ "assets/img/Kind-Krank-300x200.jpg" | relative_url }}"
                    class="img-fluid float-start text-inline-start" alt="CF-Selbsthilfe Frankfurt e.V.">

                <p>
                    Am häufigsten erkennt man Mukoviszidose an den für die autosomal-rezessive Erbkrankheit typischsten
                    Erkennungsmerkmalen wie z.B chronischer Husten, mittlere bis schwere Lungenentzündung,
                    Bauchschmerzen, Durchfall, Verdauungsprobleme und Untergewicht. Diese Beschwerden werden dadurch
                    gebildet, dass Drüsen, welche im Körper für die Schleimbildung zuständig sind nicht ordnungsgemäß
                    funktionieren. Von daher äußert sich die cystische Fibrose durch einen zähen Schleim der die
                    Ausführungsgänge der Drüsen verstopft und zur Folge weitere Organe des Körpers beeinträchtigt.
                </p>
            </div>
        </div>
        <p>
            In Deutschland leben derzeit ca. 8.000 Menschen mit der angeborenen Stoffwechselkrankheit. Der derzeit noch
            unheilbare Krankheit stellen sich Tag für Tag unzählige Ärzte mit den unterschiedlichsten Techniken und
            Methoden um ein Heilmittel herbei zu führen. Bislang jedoch leider ohne Erfolg.

            Resultierend aus der derzeitigen Unheilbarkeit ist Mukoviszidose derzeit nur im Form einer Therapie der
            vorliegenden Symptomatiken behandelbar. Eine mit dem Krankheitsbild verbundene Möglichkeit einer
            Lungentransplantation ist jedoch nur in den seltensten Fällen realisierbar und erfolgsversprechend.
        </p>

        <div class="row">
            <div class="col-md">
                <img src="{{ "assets/img/Mann-am-Meer-300x200.jpg" | relative_url }}"
                    class="img-fluid float-end text-inline-end" alt="CF-Selbsthilfe Frankfurt e.V.">

                <p>
                    Familien in denen cystische Fibrose erblich bedingt aus den vergangenen Generationen bekannt ist,
                    haben die Möglichkeit sich in entsprechenden genetischen Behandlungszentren beraten zu lassen.

                    Wir das Team des CF-Selbsthilfe Frankfurt e.V. setzen uns gezielt für die Betroffenen, Familien &
                    Freunde welche unter Mukoviszidose leiden ein. Unser Beitrag richtet sich an alle, welche mit dem
                    Thema Mukoviszidose in Berührung gekommen sind oder kommen werden.
                </p>
            </div>
        </div>

        <p><b>Wir freuen uns über Ihre Teilnahme, denn gemeinsam können wir mehr erreichen.</b></p>

        <p><b>Das Team des CF-Selbsthilfe Frankfurt e.V.</b></p>
    </div>
    <div class="col-lg-4">
        <div class="cf-callout">
            Wir sind Mitglied im
        </div>
        {% for mem in site.data.member_in %}
        <img src="{{ mem.img | relative_url }}" class="img-fluid cf-member" alt={{ mem.alt }}>
        {% endfor %}

        <div class="cf-callout">
            Letzte Beiträge
        </div>
        {% for post in site.posts limit:3 %}
        <a class="post-ref-link" href="{{ post.url | relative_url }}">
            <div class="cf-ref-post">
                <span class="cf-ref-post-text">{{ post.title }}</span><br>
                <span class="cf-ref-post-date">{{ post.date | date: "%d.%m.%Y" }}</span>
            </div>
        </a>
        {% endfor %}

        <div class="cf-callout">
            Letzte Termine
        </div>
        <!--<div class="cf-calendar" id='calendar'></div>-->
        {% for post in site.dates limit:3 %}
        <a class="post-ref-link" href="{{ post.url | relative_url }}">
            <div class="cf-ref-post">
                <span class="cf-ref-post-text">{{ post.title }}</span><br>
                <span class="cf-ref-post-date">{{ post.date | date: "%d.%m.%Y" }}</span>
            </div>
        </a>
        {% endfor %}

        <div class="cf-callout">
            Sponsoren
        </div>
        {% for sponsor in site.data.sponsors %}
        <img src="{{ sponsor.img | relative_url }}" class="img-fluid cf-sponsor" alt={{ sponsor.alt }}>
        {% endfor %}

    </div>
</div>