<footer class="cf-footer">
  <div class="container py-3 cf-wrapper">
    <div class="row">
      <div class="col-md py-2">
        <b>Kontakt Informationen</b>
        <table>
          <tr>
              <td class="contact-left"><i class="fa-solid fa-phone"></i> </td>
              <td>{{ site.phone }}</td>
          </tr>
          <tr>
              <td class="contact-left"><i class="fa-solid fa-envelope"></i> </td>
              <td><a href="mailto:{{ site.email }}" class="cf-a">{{ site.email }}</a></td>
          </tr>
          <tr>
              <td class="contact-left"><i class="fa-solid fa-location-dot"></i> </td>
              <td class="contact-info">{{ site.address | replace: "<br>", "," }}</td>
          </tr>
      </table>
      </div>
      <div class="col-md py-2">
        <b>Soziale Netzwerke</b>
        <p class="cf-socials">
          <a href="https://twitter.com/CFSelbsthilfe" class="cf-socials"><i class="fa-brands fa-square-twitter fa-2xl"></i></a>
          <a href="https://www.facebook.com/people/CF-Selbsthilfe-Frankfurt-eV/100064438252726/" class="cf-socials"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
          <a href="https://www.instagram.com/cfselbsthilfeffm/" class="cf-socials"><i class="fa-brands fa-square-instagram fa-2xl"></i></a>
          <a href="https://www.linkedin.com/company/cf-selbsthilfe-frankfurt-am-main/" class="cf-socials"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
          <a href="{{ "feed.xml" | relative_url }}" class="cf-socials"><i class="fa-solid fa-square-rss fa-2xl"></i></a>
        </p>
      </div>
      <div class="col-md py-2">
        <!--<b>Aktuelle Tweets</b>-->
      </div>
    </div>
  </div>
  <div class="cf-bottom-bar">
    <div class="container py-3 cf-wrapper">
      <div class="row">
        <div class="col-md-6">
          <p class="copyright-text">
            &copy {{ site.year_created }}{% if site.year_created != site.current_year %}-{{ site.current_year }}{% endif %} - CF-Selbsthilfe Frankfurt e.V.
          </p>
        </div>
        <div class="col-md-6">
          <p class="footer-text">
            <a class="cf-a" href="{{ "/impressum" | relative_url }}">Impressum</a> | <a class="cf-a" href="{{ "/datenschutzerklärung" | relative_url }}">Datenschutzerklärung</a> | <a class="cf-a" href="{{ "sitemap.xml" | relative_url }}">Sitemap</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
</footer>