<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ "/favicon.ico" | relative_url }}">

  <!-- calendar -->
  <link rel="stylesheet" href="{{ "/assets/css/fullcalendar/main.min.css" | relative_url }}">
  <script src="{{ "/assets/js/fullcalendar/main.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/fullcalendar/locales/de.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/fullcalendar/locales/en-gb.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/cfcalendar.js" | relative_url }}"></script>
  
  {%- feed_meta -%}

  <title>{{ page.title }} - {{ site.title }}</title>
</head>