<img src="{{ "assets/img/cf-selbsthilfe-logo-117x98px.png" | relative_url }}" alt="CF Selbsthilfe eV Frankfurt Logo">
<nav class="navbar navbar-expand-lg">

  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center nav-pills nav-fill">

        {% for item in site.data.navigation %}
        {% if item.dropdown %}
        <li class="nav-item dropdown">
          <button class="btn dropdown-toggle{% if page.url contains item.link %} active{% endif %}" type="button"
            id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{ item.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for subitem in item.dropdown %}
              {% if subitem.dropdown %}
              <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Dropend
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                </ul>
              </div>
              {% else %}
              <a class="dropdown-item" href={{ subitem.link | prepend: site.baseurl }}>{{ subitem.name }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == item.link %} active" aria-current="page{% endif %}" href={{ item.link |
            prepend: site.baseurl }}>{{ item.name }}</a>
        </li>
        {% endif %}
        {% endfor %}

      </ul>
    </div>

  </div>
</nav>