h3.newsletter-title,
h4.newsletter-title {
    color: $cf-blue;
    text-align: center;
}

h4.newsletter {
    color: $cf-blue;
}

div.newsletter-img {
    max-width: 400px;
}

a.newsletter-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px 0;
    background-color: $cf-blue;
    color: #fff;
    text-align: center;
    text-decoration: none;
}