$calendar-padding: 0.2em;

div.cf-calendar {
    margin-left: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fc-header-toolbar {
    margin-bottom: 0.5rem !important;
}

.fc-toolbar-title {
    font-size: 1.3rem !important;
    font-weight: medium !important;
    margin-top: $calendar-padding !important;
}

.fc-today-button {
}

.fc-button {
    color: black !important;
    font-size: 1.1rem !important;
    background-color: $lightgray !important;
    padding: $calendar-padding !important;
    border: 1px solid darkgrey !important;
    border-radius: 5px !important;
}

.fc-daygrid-day-events {
    margin-bottom: 0px !important;
    min-height: 1rem !important;
}

a.fc-daygrid-day-number {
    color: black;
    text-decoration: none;
}

a.fc-col-header-cell-cushion {
    color: black;
    text-decoration: none;
}